*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 103px 26px 82px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);    
}

.header .nav {
    display: flex;
    list-style: none;
}

.header .nav  li, a {
    padding: 0px 10px;
    color: white;
    text-decoration: none;   
}

.footer {
    background-color: #2e948a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.footer img {
    max-width: 250px;
    height: auto;
}

.footer a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;  
}

.footer-button {
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 62px;
}

.footer-button a {
    padding: 10px 20px;
    color: #ffffff; 
    font-weight: normal;
}

/*page content*/

main {
    display: flex;
    justify-content: space-around;
    padding: 50px 100px 50px 100px;
}

h1 {
    color: #FF4081;
    font-size: 42px;
    padding-bottom: 30px;
}

nav form div label{
    font-weight: 400;
}

nav form div input {
    border: none;
    font-weight: 500;
}


.campo-nome {
    border: solid #686868;
    border-width: 1px;
    border-radius: 7px;
    padding: 4px 0px 4px 4px;
    margin-bottom: 8px;
}
#campo1 {
    padding: 4px 200px 4px 4px;
}

.campo-email {
    border: solid #686868;
    border-width: 1px;
    border-radius: 7px;
    padding: 4px 0px 4px 4px;
    margin-bottom: 8px;
}
#campo2 {
    padding: 4px 200px 4px 4px;
}

.campo-msg {
    border: solid #686868;
    border-width: 1px;
    border-radius: 7px;
    padding: 4px 0px 0px 4px;
    margin-bottom: 8px;
}
#campo3 {
    padding: 4px 240px 150px 4px;
}

#submit {
    color: white;
    background-color: #FF4081;
    border: none;
    border-radius: 50px;
    padding: 8px 30px 8px 30px;
    cursor: pointer;
    
}

/* header and footer (mobile) */

@media only screen and (max-width:400px) {

    .header {
        display: block;
        align-items: center;
        padding: 20px 10px 26px 50px;
        width: 84%;
        background: #2E948A;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
        
    }
    
    .header img {
        padding-left: 20px;
        padding-bottom: 30px;
    }
    
    .header .nav {
        list-style: none;
    }
    
    .header .nav  li, a {
        padding: 0px 10px;
        color: white;
        text-decoration: none;
        
        
    
    
        
    }
    
    .footer {
        background-color: #2e948a;
        display: block;
        justify-content: space-around;
        align-items: center;
        padding: 20px 10px 26px 50px;
        width: 84%;
    }
    
    .footer img {
        max-width: 250px;
        height: auto;
        margin-bottom: 20px;
    }
    
    .footer .links {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }
    
    .footer a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;  
    }
    
    .footer-button {
        margin: 10px;
        border: 1px solid #ffffff;
        border-radius: 62px;
        max-width: 300px;
        text-align: center;
    }
    
    .footer-button a {
        padding: 10px 10px;
        color: #ffffff; 
        font-weight: normal;
    }

    /* page content*/

    main {
        display: block;
        padding: 50px 50px;
    }

    main img {
        width: 200px;
        margin-top: 40px;
    }

    .campo-nome {
        border: solid #686868;
        border-width: 1px;
        border-radius: 7px;
        padding: 4px 0px 4px 4px;
        margin-bottom: 8px;
    }
    #campo1 {
        padding: 4px 50px 4px 4px;
    }
    
    .campo-email {
        border: solid #686868;
        border-width: 1px;
        border-radius: 7px;
        padding: 4px 0px 4px 4px;
        margin-bottom: 8px;
    }
    #campo2 {
        padding: 4px 50px 4px 4px;
    }
    
    .campo-msg {
        border: solid #686868;
        border-width: 1px;
        border-radius: 7px;
        padding: 4px 0px 0px 4px;
        margin-bottom: 8px;
    }
    #campo3 {
        padding: 4px 50px 150px 4px;
    }
}

/* content responsiveness (tablet) */
@media only screen and (min-width: 768px) and (max-width: 980px) {

    main img {
        width: 250px;
        height: 300px;
        margin-top: 40px;
    }

    main {
        padding: 50px 0px;
    }
}