*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 103px 26px 82px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);    
}

.header .nav {
    display: flex;
    list-style: none;
}

.header .nav  li, a {
    padding: 0px 10px;
    color: white;
    text-decoration: none;   
}

/*page content*/

main {
    padding: 40px 100px 40px 100px;
}

h1 {
    color: #FF4081;
    font-size: 42px;

}

span {
    font-weight: 400;
    color: #555555;
}

section {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding: 60px 50px 60px 50px;
    
}

section img{
    padding-right: 50px;
}

hr {
    height: 3px;
    background-color: #c4c4c4;
    border: none;
    
}

h2 {
    color: #FF4081;
    padding-bottom: 50px;
}

p {
    font-weight: 300;
    padding-bottom: 50px;
    max-width: 800px;
}

.comecar-agora {
    color: white;
    background: #419488;
    border-radius: 62px;
    border: none;
    width: 150px;
    height: 30px;
    font-weight: 400;
    font-size: 15px;
    padding: 7px 30px 7px 30px;
}

.footer {
    background-color: #2e948a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.footer img {
    max-width: 250px;
    height: auto;
}

.footer a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;  
}

.footer-button {
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 62px;
}

.footer-button a {
    padding: 10px 20px;
    color: #ffffff; 
    font-weight: normal;
}

/* header and footer (mobile) */

@media only screen and (max-width:400px) {

    .header {
        display: block;
        align-items: center;
        padding: 20px 10px 26px 50px;
        width: 84%;
        background: #2E948A;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
        
    }
    
    .header img {
        padding-left: 20px;
        padding-bottom: 30px;
    }
    
    .header .nav {
        list-style: none;
    }
    
    .header .nav  li, a {
        padding: 0px 10px;
        color: white;
        text-decoration: none;
        
        
    
    
        
    }
    
    .footer {
        background-color: #2e948a;
        display: block;
        justify-content: space-around;
        align-items: center;
        padding: 20px 10px 26px 50px;
        width: 84%;
    }
    
    .footer img {
        max-width: 250px;
        height: auto;
        margin-bottom: 20px;
    }
    
    .footer .links {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }
    
    .footer a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;  
    }
    
    .footer-button {
        margin: 10px;
        border: 1px solid #ffffff;
        border-radius: 62px;
        max-width: 300px;
        text-align: center;
    }
    
    .footer-button a {
        padding: 10px 10px;
        color: #ffffff; 
        font-weight: normal;
    }

    /* page content*/

    section {
        display: block;
        padding: 0px;
    }

    section img {
        padding: 40px 0px 0px 0px;
    }

    main {
        padding: 40px 40px;
    }

    section div {
        margin-bottom: 40px;
    }

    section div a {
        margin-left: 70px;
    }
}

/* content responsiveness (tablet) */
@media only screen and (min-width: 768px) and (max-width: 980px) {

    section img {
        width: 150px;
        height: 200px;
        margin-top: 40px;
    }
}