*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 103px 26px 82px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    
}

.header .nav {
    display: flex;
    list-style: none;
}

.header .nav  li, a {
    padding: 0px 10px;
    color: white;
    text-decoration: none;
    
    


    
}
.footer {
    background-color: #2e948a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.footer img {
    max-width: 250px;
    height: auto;
}

.footer a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;  
}

.footer-button {
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 62px;
}

.footer-button a {
    padding: 10px 20px;
    color: #ffffff; 
    font-weight: normal;
}

/*page content*/

section {
    padding: 40px 100px 40px 100px;
}

#inicio {
    display: flex;
    justify-content: space-evenly;
}


h1 {
    color: #ff4081;
    font-size: 40px;
    padding-bottom: 20px;

}

#inicio div {
    max-width: 400px;
}

span {
    font-weight: 300;  
}

.videos {
    background-color: #f6f6f6;
}

 .aulas {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px 40px 0px;
}

iframe {
    width: 350px;
    height: 200px;
}

h2 {
    color: #ff4081;
}

p {
    max-width: 400px;
    font-weight: 300;
}

hr {
    height: 3px;
    background-color: #c4c4c4;
    border: none;
    
}

/* header and footer (mobile) */

@media only screen and (max-width:400px) {

.header {
    display: block;
    align-items: center;
    padding: 20px 10px 26px 50px;
    width: 84%;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    
}

.header img {
    padding-left: 20px;
    padding-bottom: 30px;
}

.header .nav {
    list-style: none;
}

.header .nav  li, a {
    padding: 0px 10px;
    color: white;
    text-decoration: none;
    
    


    
}

.footer {
    background-color: #2e948a;
    display: block;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px 26px 50px;
    width: 84%;
}

.footer img {
    max-width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.footer .links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.footer a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;  
}

.footer-button {
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 62px;
    max-width: 300px;
    text-align: center;
}

.footer-button a {
    padding: 10px 10px;
    color: #ffffff; 
    font-weight: normal;
}

/*page content*/

main {
    max-width: 390px;
}
section {
    padding: 40px 10px 40px 10px;
}

#inicio {
    display: block;
    justify-content: space-evenly;
}

 .aulas {
    display: block;
    justify-content: space-evenly;
    padding: 40px 0px 40px 0px;
}
}


/* content responsiveness (tablet) */
@media only screen and (min-width: 768px) and (max-width: 980px) {
   
    
    #inicio {
        display: block;
        justify-content: center;
    }

    #inicio div, img {
        padding-left: 100px;
        padding-bottom: 50px;
    }

    
    
     .aulas {
        display: block;
        justify-content: center;
        padding: 20px 0px 40px 100px;
    }
}