*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 103px 26px 82px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    
}

.header .nav {
    display: flex;
    list-style: none;
}

.header .nav  li, a {
    padding: 0px 10px;
    color: white;
    text-decoration: none;
    
    


    
}
footer {
    padding: 20px 103px 26px 82px;
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
    
}

footer .links ul li a {
    font-weight: 400;
}

footer ul {

    list-style: none;
    font-weight: 100;
    
    
    
}

footer .buttons ul li {
    color: white;
    border:1px solid white;
    border-radius: 40px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    
    
    
}

footer .buttons ul li a, .links {
    font-weight: 400;
    
    
}

/*page content*/

section {
    padding: 40px 100px 40px 100px;
}

#inicio {
    display: flex;
    justify-content: space-evenly;
}


h1 {
    color: #ff4081;
    font-size: 40px;
    padding-bottom: 20px;

}

#inicio div {
    max-width: 400px;
}

span {
    font-weight: 300;  
}

.videos {
    background-color: #f6f6f6;
}

 .aulas {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px 40px 0px;
}

iframe {
    width: 350px;
    height: 200px;
}

h2 {
    color: #ff4081;
}

p {
    max-width: 400px;
    font-weight: 300;
}

hr {
    height: 3px;
    background-color: #c4c4c4;
    border: none;
    
}

